@{
    ViewBag.Title = "Запросы";
}
<h2>Запросы</h2>
<table class="table table-bordered table-primary">
    <tr>
        <th><p>№ товара</p></th>
        <th><p>Фамилия клиента</p></th>
        <th><p>Жанр</p></th>
        <th><p>Название книги</p></th>
        <th><p>Автор</p></th>
        <th><p>Цена</p></th>
        <th><p>Кол-во</p></th>
    </tr>


    @foreach (var p in ViewBag.Orders as IEnumerable<Order>)
    {
        <tr>
            <td><p>@p.Id</p></td>
            <th><p>@p.CustomerName</p></th>
            <td><p>@p.Genre</p></td>
            <td><p>@p.BookName</p></td>
            <td><p>@p.Author</p></td>
            <td><p>@p.Price</p></td>
            <td><p>@p.Kol</p></td>
            <td><a href="/Home/Accept1/@p.Id" class="btn btn-danger">Принять</a></td>
        </tr>
    }
</table>